<template name="about">
    <div class="interior-banner1 interior-banner1-about">
        <div class="circle">
            <h1>About<br>Amy Lane</h1>
        </div>
    </div>
    <div class="interior-banner2 interior-banner2-about">
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <div class="interior-banner3">

    </div>
    <div class="circles small-circles">
        <div class="small-circle blue small-left">
            <a class="small" href="careerTransitions">Career Transitions</a>
        </div>
        <div class="small-circle green">
            <a class="small" href="managingChronicDisease">Managing Chronic<br>Disease</a>
        </div>
        <div class="small-circle orange">
            <a class="small" href="personalMotivation">Personal Motivation</a>
        </div>
        <div class="clearfix"></div>
    </div>
</template>