<template name="about">
    <div class="interior-banner1 interior-banner1-about">
        <div class="circle">
            <h1>About<br>Amy Lane</h1>
        </div>

        <blockquote>"Nothing is sure, and everything is possible."</blockquote>
    </div>
    <div class="interior-banner2 interior-banner2-about">
        <div class="left">
            <h2>My mission is to combine my business, social work practice and life experience to help others. </h2>
            <p>Unlike most therapeutic or coaching practitioners, I focus on the here and now. I take an eclectic and integrative approach to build tailored, actionable solutions for each of my clients. </p>
            <p>To develop these solutions, I work closely and directly with each client through in-person consultations and follow-up appointments. Supplementing these in-person meetings are regular telephone calls and emails to continue progress between sessions.</p>
        </div>
        <div class="right">
        </div>
    </div>
    <div class="interior-banner3 interior-banner3-about">
        <div class="left"></div>
        <div class="right">
            <p>After a thorough initial consultation in which I gain an understanding of your situation, I devise a practical strategy tailored to your needs. I also provide the information, tools and resources to help you accomplish your tasks and goals.   </p>
            <p>Unlike many therapeutic practitioners, I offer practical advice, suggestions and feedback, in addition to emotional support.</p>
            <p>Over the years I have realized that people don't know what they don't know. My goal is to help fill your tool box with vital knowledge, skills and support to help you accomplish your objectives -- whether that is navigating the healthcare or corporate system, dealing with a recent diagnosis or job loss, or ultimately landing your dream job.</p>
            <h1>A long and proven track record</h1>
            <p>After graduating with a business degree from Boston University, I crafted a business career that includes retail, high finance and almost two decades in training, staffing and executive recruitment. </p>
            <p>With my business and life experience, I then obtained my MSW from New York University, practicing in outpatient settings. In addition, my volunteer experience includes working with AIDS, nutrition and education programs, and such organizations as the Crohns and Colitis Foundation of America.</p>
            <p>Whether addressing health issues and concerns or career transitions, I believe looking at what is right in front you. That, in addition to keeping track of the big picture, helps you feel a sense of hope and “unstuckness.”   By providing expert advice, counseling and resources, I can help you believe that everything is possible, especially when things seem unsure.</p>

        </div>
        <div class="clearfix"></div>

    </div>
    <div class="circles small-circles">
        <div class="small-circle blue small-left">
            <a class="small" href="careerTransitions">Career Transitions</a>
        </div>
        <div class="small-circle green">
            <a class="small" href="managingChronicDisease">Managing Chronic<br>Disease</a>
        </div>
        <div class="small-circle orange">
            <a class="small" href="personalMotivation">Personal Motivation</a>
        </div>
        <div class="clearfix"></div>
    </div>
</template>