<template name="careerTransitions">
    <div class="interior-banner1 interior-banner1-career">
        <div class="circle">
            <h1>Career<br>Transitions</h1>
        </div>

        <div class="left">
            <h1>Survive and thrive</h1>
            <p>in your career transition</p>
        </div>
        <div class="right"><p>For those who are:</p>
            <ul>
                <li>Planning a career change in midstream</li>
                <li>Changing jobs within an industry</li>
                <li>Surviving mergers and consolidations</li>
                <li>Recent college graduates seeking employment</li>
            </ul>
        </div>
    </div>
    <div class="interior-banner2 interior-banner2-career">
        <div class="left">
            <h1>Navigate</h1>
            <p>Whether it's due to employment changes beyond your control,
                or you're following your passion to find your dream job,
                undertaking a career transition can be challenging.
                I can help you navigate career moves more smoothly and successfully.
                With more than 30 years in business, social services and executive recruitment,
                I know what it takes to help you survive and thrive in your career change.
            </p>
        </div>
        <div class="right">
        </div>
    </div>
    <div class="interior-banner3">
        <div class="left"></div>
        <div class="right">
            <h1>Working together</h1>
            <h2>we'll help you discover:</h2>
            <ul>
                <li>Your ideal position</li>
                <li>Your transferable skills</li>
                <li>The optimal time to make your move</li>
                <li>The ideal presentation of your skills, personality and drive</li>
                <li>How to present and represent yourself</li>
                <li>How to manage transition</li>
            </ul>
            <p>I offer resources, tools and skills to best prepare you for every step of an internal or external job transition. </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="circles small-circles">
        <div class="small-circle blue small-left">
            <a class="small" href="careerTransitions">Career Transitions</a>
        </div>
        <div class="small-circle green">
            <a class="small" href="managingChronicDisease">Managing Chronic<br>Disease</a>
        </div>
        <div class="small-circle orange">
            <a class="small" href="personalMotivation">Personal Motivation</a>
        </div>
        <div class="clearfix"></div>
    </div>
</template>