<template name="managingChronicDisease">
    <div class="interior-banner1 interior-banner1-disease">
        <div class="circle">
            <h1>MANAGING<br>CHRONIC<br>DISEASE</h1>
        </div>
        <div class="left">
            <h1>Get the most<br>out of life with<br>a chronic illnes</h1>
        </div>
        <div class="right"><p>For those with a chronic illness who are:</p>
            <ul>
                <li>Newly diagnosed</li>
                <li>Suffering with frequent flare-ups</li>
                <li>Experiencing anxiety over a new<br> medical treatment plan</li>
            </ul>
        </div>
    </div>
    <div class="interior-banner2 interior-banner2-disease">
        <div class="left">
            <h1>Proactive management</h1>
            <p>I believe that you should be positive and proactive in managing a chronic illness,
                instead of letting it manage you. With a thorough initial consultation and regular
                follow-up meetings and  communications, I will develop a tailored program to help you
                manage and control the emotional, physical and spiritual impact a chronic disease can have on your life.
            </p>
        </div>
        <div class="right"></div>
    </div>
    <div class="interior-banner3 interior-banner3-disease">
        <div class="left"></div>
        <div class="right">
            <h1>Working together</h1>
            <h2>we'll help you discover:</h2>
            <ul>
                <li>Receive emotional support</li>
                <li>Gain vital health knowledge</li>
                <li>Utilize helpful resources and tools</li>
                <li>Navigate the healthcare and health insurance systems</li>
                <li>Understand your rights and exceptions within school and work settings</li>
                <li>Understand all treatment options</li>
                <li>Discover how to coordinate your care</li>
                <li>Practice techniques to stay positive and proactive</li>
            </ul>
            <p>In addition to a 30-year business and social work practice, I have managed my own chronic illness. With that diverse and firsthand experience, I have developed an eclectic and integrative approach to help those with chronic illnesses get the most out of life. </p>
            <a href="/downloads/2.0_ManagingChronic.pdf" target="_blank" class="download">
                Download worksheet
                <span>Complete before consultation</span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="circles small-circles">
        <div class="small-circle blue small-left">
            <a class="small" href="careerTransitions">Career Transitions</a>
        </div>
        <div class="small-circle green">
            <a class="small" href="managingChronicDisease">Managing Chronic<br>Disease</a>
        </div>
        <div class="small-circle orange">
            <a class="small" href="personalMotivation">Personal Motivation</a>
        </div>
        <div class="clearfix"></div>
    </div>
</template>