<template name="contact">
    <div class="interior-banner1 interior-banner1-contact">
        <div class="circle">
            <h1>Contact</h1>
        </div>

        <div class="left">
            <h1>Let's Talk</h1>
        </div>
        <div class="right">
            <p>To learn more about how I can help you
                accomplish your personal goals and objectives,
                call or email me.Together, we'll take action in the
                here and now to help you get the most out of life.</p>

        </div>
    </div>
    <div class="interior-banner2 interior-banner2-contact ">
        <div class="left">
            <p>Amy Lane, LMSW<br>
            19 W 34th Street<br>
            penthouse floor<br>
            NEW YORK, NY 10001<br>
            917.797.1096</p>

            <a href="mailto:amylanenyc@gmail.com">amylanenyc@gmail.com</a>
        </div>
        <div class="right"></div>
    </div>
    <div class="circles small-circles">
        <div class="small-circle blue small-left">
            <a class="small" href="careerTransitions">Career Transitions</a>
        </div>
        <div class="small-circle green">
            <a class="small" href="managingChronicDisease">Managing Chronic<br>Disease</a>
        </div>
        <div class="small-circle orange">
            <a class="small" href="personalMotivation">Personal Motivation</a>
        </div>
        <div class="clearfix"></div>
    </div>
</template>