<template name="tmplHeader">
    <header>
        <a href="/" class="logo">Amy Lane - LMSW</a>
        <nav>
            <ul>
                <li class="first"><a href="careerTransitions">Career Transitions</a></li>
                <li class="second"><a href="managingChronicDisease">Managing Chronic Disease</a></li>
                <li class="third"><a href="personalMotivation">Personal Motivation</a></li>
                <li class="fourth"> <a href="about">About</a></li>
                <li class="fifth"><a href="contact">Contact</a></li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </header>
    {{nav}}
</template>