<template name="home">
    <div class="banner">Helping you build a better here and now.</div>
    <div class="below-banner">
        This life — the one you have right now — really is what you make it.
        And I help people make it all it can be. Whether it’s igniting your personal
        motivation, crafting a career transition or managing a chronic disease,
        I can help you take positive action, navigate change and fully engage  in every moment of your life.
    </div>
    <div class="circles">
        <div class="circle blue">
            <a href="careerTransitions">Career Transitions</a>
        </div>
        <div class="circle green">
            <a href="managingChronicDisease">Managing Chronic<br>Disease</a>
        </div>
        <div class="circle orange">
            <a href="personalMotivation">Personal Motivation</a>
        </div>
        <div class="clearfix"></div>
    </div>
</template>