<template name="home">
    <div class="banner">Helping you build a better here and now.</div>
    <div class="below-banner">
        This life — the one you have right now — really is what you make it.
        And I help people make it all it can be. Whether it’s igniting your personal
        motivation, crafting a career transition or managing a chronic disease,
        I can help you take positive action, navigate change and fully engage  in every moment of your life.
    </div>
    <div class="circles">
        <a class="circle blue" href="careerTransitions"><span>Career Transitions</span></a>
        <a class="circle green"  href="managingChronicDisease"><span>Managing Chronic<br>Disease</span></a>
        <a class="circle orange"  href="personalMotivation"><span>Personal Motivation</span></a>
        <div class="clearfix"></div>
    </div>
</template>