<template name="personalMotivation">
    <div class="interior-banner1 interior-banner1-motivation">
        <div class="circle">
            <h1>Personal<br>Motivation</h1>
        </div>
        <div class="left">
            <h1>Get unstuck.</h1>
            <p>Find the motivation<br>you need to accomplish<br>what you want.</p>
        </div>
        <div class="right"><p>For those who need to:</p>
            <ul>
                <li>Plan for change</li>
                <li>Find balance</li>
                <li>Seek community and harmony</li>
            </ul>
        </div>
    </div>
    <div class="interior-banner2 interior-banner2-motivation">
        <div class="left">
            <h1>Motivation</h1>
            <p>At times, we all feel stuck in a rut, with no motivation to
                take on the tasks we need to accomplish at work and in life.
                For many, these times pass in due time. But for some, lack of
                motivation impinges on careers, families and getting the most out of life.
            </p>
        </div>
        <div class="right"></div>
    </div>
    <div class="interior-banner3 interior-banner3-motivation">
        <div class="left"></div>
        <div class="right">
            <h1>Working together</h1>
            <h2>we'll help you discover:</h2>
            <p>With broad and diverse motivational and coaching experience gained in more than 30 years in business and social work practices, I offer problem solving and motivational services that will help you:</p>
            <ul>
                <li>Overcome your paralyzing fears</li>
                <li>Set and act on realistic goals and plans</li>
                <li>Declutter your home, workspace and life</li>
                <li>Organize your time</li>
                <li>Experience the invigorating power of positive thinking</li>
                <li>Take immediate actions and tangible steps to ignite
                    your motivation and achieve your goals</li>
            </ul>
            <a href="/downloads/3.0_GetUnstuck.pdf" target="_blank" class="download">
                Download worksheet
                <span>Complete before consultation</span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="circles small-circles">
        <div class="small-circle blue small-left">
            <a class="small" href="careerTransitions">Career Transitions</a>
        </div>
        <div class="small-circle green">
            <a class="small" href="managingChronicDisease">Managing Chronic<br>Disease</a>
        </div>
        <div class="small-circle orange">
            <a class="small" href="personalMotivation">Personal Motivation</a>
        </div>
        <div class="clearfix"></div>
    </div>
</template>